/*-------------------------------- CSS -----------------------------*/

/********************************************************************/

/* Estilo tipo ID */
#myStyle{

	font-color: black;

}

/* Estilo tipo CLASS */
.myStyle{

	font-color: black;

}



/* Fondo de ejemplo y aplicacion a etiqueta */
body {

        /* background-image: url(../../site_media/img/imagenes/home.jpg); */

        background-position: center center;

        background-repeat: no-repeat;

        background-attachment: fixed;

        background-size: cover;

        background-color: #66999;

}




/* Etiqueta personalizada */
miEtiqueta {

		font-color: black;

}

md-slider .md-track-ticks canvas {
  height: 0px !important;
}

md-slider-container md-input-container input[type=number] {
     padding-left: 0px !important;
}

table tr:nth-child(even) {
    background-color: #eee !important;
}

table tr:nth-child(odd) {
    background-color: #fff !important;
}

/*-------------------------------- CSS -----------------------------*/
